---
layout: compress
---

<!doctype html>

{% include origin-type.html %}
{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html lang=lang %}

  {%- assign _rel = page.url | remove_first: site.baseurl -%}
  {%- if _rel == '' -%}{%- assign _rel = '/' -%}{%- endif -%}
  {%- assign _rel_last = _rel | slice: -1 -%}
  {%- if _rel == '/' -%}
    {%- assign _slug = 'index' -%}
  {%- elsif _rel_last == '/' -%}
    {%- assign _slug = _rel | remove_first: '/' | append: 'index' -%}
  {%- else -%}
    {%- assign _slug = _rel | remove_first: '/' -%}
  {%- endif -%}

  <body data-slug="{{ _slug }}" class="editor-window-body">
    {{ content }}
  </body>
</html>
